@use "./colors";

$tablet-view: 600px;

* {
  font-family: "Poppins", sans-serif;
}

body {
  width: 100svw;
  min-height: 100svh;
  display: grid;
  place-content: center;
  place-items: center;
  padding: 0;
  margin: 0;
  background-color: colors.$light-grey;
}

#root {
  min-width: 15rem;
  background-color: colors.$white;
  border-radius: 1.3rem 1.3rem 7rem 1.3rem;
  padding: 3rem 1.5rem 1.5rem;
  margin: 2rem;

  @media all and (min-width: $tablet-view) {
    min-width: 34rem;
    border-radius: 1rem 1rem 7rem 1rem;
    padding: 2.7rem;
  }
}

.input {
  & form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    row-gap: 1rem;
    column-gap: 0.5rem;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    color: colors.$Smokey-grey;
    width: 5.8rem;
  }

  &__name {
    text-transform: uppercase;
    font-size: 0.6rem;
    letter-spacing: 0.1rem;
    margin-bottom: 0.4rem;
    &--error {
      color: colors.$light-red;
    }
  }

  &__input {
    padding: 0.6rem 1rem;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 800;
    border: 1px solid colors.$light-grey;
    border-radius: 0.5rem;

    &:focus {
      outline: 1px solid colors.$purple;
    }

    &--error {
      border-color: colors.$light-red;
    }
  }

  &__error {
    font-size: 0.5rem;
    font-weight: 400;
    font-style: italic;
    margin-block-start: 0.3rem;
    margin-block-end: -0.5rem;
    color: colors.$light-red;

    &::first-letter {
      text-transform: capitalize;
    }
  }

  &__wrapper:nth-of-type(1) {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  &__wrapper:nth-child(2) {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  &__wrapper:nth-child(3) {
    grid-column: 3/4;
    grid-row: 1/2;
  }

  &__bar {
    grid-column: 1/4;
    width: 100%;
    grid-row: 2/3;
    align-self: center;
    height: 1px;
    border: none;
    background-color: colors.$light-grey;
  }

  &__submit {
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    place-content: center;
    width: 3.5rem;
    height: 3.5rem;
    border: none;
    border-radius: 50%;
    background-color: colors.$purple;
    z-index: 1;
    transition: background-color 400ms ease, scale 300ms ease-in-out;
    @media (hover: "hover") {
      &:hover {
        background-color: #242424;
      }
      &:active {
        scale: 0.95;
        transform: scale(0.95);
      }
    }

    & svg {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  @media all and (min-width: $tablet-view) {
    height: 8rem;
    & form {
      position: relative;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr, 10rem;
    }

    &__name {
      font-size: 0.65rem;
    }

    &__input {
      padding: 0.4rem 1rem;
      font-size: 1.5rem;
    }
    &__wrapper {
      width: 7.4rem;
      justify-self: flex-start;
    }

    &__error {
      width: max-content;
      bottom: -46%;
      font-size: 0.7rem;
    }

    &__submit {
      width: 4.4rem;
      height: 4.4rem;
      grid-column: 4/5;
      grid-row: 2/3;
      justify-self: flex-end;
      position: relative;
      bottom: 35%;

      & svg {
        width: 2.1rem;
        height: 2.1rem;
      }
    }

    &__bar {
      grid-column: 1/ -1;
      grid-row: 2/3;
      align-self: flex-start;
    }
  }
}

.output {
  padding: 3.5rem 1rem 3rem;

  &__wrapper {
    font-size: 2.8rem;
    font-style: italic;
    font-weight: 800;
    margin-block: -0.8rem;
    display: flex;
    gap: 0.5rem;
  }

  &__num {
    color: colors.$purple;
  }

  @media all and (min-width: $tablet-view) {
    padding-inline: 0;
    padding-block: 2.3rem 1rem;

    &__wrapper {
      font-size: 4.4rem;
      margin-block: -1.5rem;
    }
  }
}
