@use "./colors";

$tablet-view: 500px;

* {
  font-family: "Poppins", sans-serif;
}

body {
  width: 100svw;
  height: 100svh;
  display: grid;
  place-content: center;
  place-items: center;
  padding: 0;
  margin: 0;
  background-color: colors.$light-grey;
}

#root {
  width: 22rem;
  background-color: colors.$white;
  border-radius: 1.3rem 1.3rem 7rem 1.3rem;
  padding: 3rem 1.5rem 1.5rem;

  @media all and (min-width: $tablet-view) {
    width: 33rem;
    border-radius: 1rem 1rem 7rem 1rem;
    padding: 2.7rem;
  }
}

.input {
  & form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    row-gap: 1.5rem;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    color: colors.$Smokey-grey;
    width: 6rem;
  }

  &__name {
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    margin-bottom: 0.4rem;
    &--error {
      color: colors.$light-red;
    }
  }

  &__input {
    padding: 0.6rem 1rem;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 800;
    border: 1px solid colors.$light-grey;
    border-radius: 0.5rem;

    &:focus {
      outline: 1px solid colors.$purple;
    }

    &--error {
      border-color: colors.$light-red;
    }
  }

  &__error {
    font-size: 0.55rem;
    font-weight: 400;
    font-style: italic;
    color: colors.$light-red;

    &::first-letter {
      text-transform: capitalize;
    }
  }

  &__wrapper:nth-of-type(1) {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  &__wrapper:nth-child(2) {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  &__wrapper:nth-child(3) {
    grid-column: 3/4;
    grid-row: 1/2;
  }

  &__bar {
    grid-column: 1/4;
    width: 93%;
    grid-row: 2/3;
    align-self: center;
    height: 1px;
    border: none;
    background-color: colors.$light-grey;
  }

  &__submit {
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    place-content: center;
    width: 4.5rem;
    height: 4.5rem;
    border: none;
    border-radius: 50%;
    background-color: colors.$purple;
    z-index: 1;

    & svg {
      width: 2rem;
      height: 2rem;
    }
  }

  @media all and (min-width: $tablet-view) {
    height: 8rem;

    & form {
      position: relative;
      display: flex;
      align-items: center;
      column-gap: 3rem;
    }

    &__name {
      font-size: 0.65rem;
    }

    &__input {
      width: 5.5rem;
      padding: 0.4rem 1rem;
      font-size: 1.8rem;
    }

    &__error {
      position: absolute;
      bottom: -36%;
      font-size: 0.7rem;
    }

    &__submit {
      position: absolute;
      right: 0;
      top: 93%;
    }

    &__bar {
      position: absolute;
      width: 100%;
      bottom: -50%;
    }
  }
}

.output {
  padding: 3.5rem 1rem 3rem;

  &__wrapper {
    font-size: 3.5rem;
    font-style: italic;
    font-weight: 800;
    margin-block: -1.5rem;
  }

  &__num {
    color: colors.$purple;
  }

  @media all and (min-width: $tablet-view) {
    padding-inline: 0;
    padding-block: 2.3rem 1rem;

    &__wrapper {
      font-size: 4.4rem;
    }
  }
}
