@use "./colors";
* {
  font-family: "Poppins", sans-serif;
}

body {
  width: 100svw;
  height: 100svh;
  display: grid;
  place-content: center;
  place-items: center;
  padding: 0;
  margin: 0;
  background-color: colors.$light-grey;
}

#root {
  width: 33rem;
  background-color: colors.$white;
  border-radius: 1rem 1rem 7rem 1rem;
  padding: 2.5rem;
}

.input {
  height: 8rem;

  & form {
    position: relative;
    display: flex;
    align-items: center;
    gap: 1.6rem;
  }

  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    color: colors.$Smokey-grey;
  }

  &__name {
    text-transform: uppercase;
    font-size: 0.65rem;
    letter-spacing: 0.1rem;
    margin-bottom: 0.4rem;
    &--error {
      color: colors.$light-red;
    }
  }
  &__input {
    width: 5.5rem;
    padding: 0.4rem 1rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 800;
    border: 1px solid colors.$light-grey;
    border-radius: 0.5rem;

    &:focus {
      outline: 1px solid colors.$purple;
    }
  }
  &__error {
    position: absolute;
    left: 2%;
    bottom: -36%;
    font-size: 0.7rem;
    font-weight: 400;
    font-style: italic;
    color: colors.$light-red;
    &::first-letter {
      text-transform: capitalize;
    }
  }

  &__submit {
    position: absolute;
    display: grid;
    place-content: center;
    width: 4.5rem;
    height: 4.5rem;
    right: 0;
    top: 93%;
    border: none;
    border-radius: 50%;
    background-color: colors.$purple;
    z-index: 1;

    & svg {
      width: 2rem;
      height: 2rem;
    }
  }

  &__bar {
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -50%;
    border: none;
    background-color: colors.$light-grey;
  }
}

.output {
  padding-block: 2rem 1rem;

  &__wrapper {
    font-size: 4rem;
    font-style: italic;
    font-weight: 800;
    margin-block: -1.5rem;
  }

  &__num {
    color: colors.$purple;
  }
}
